issues:
  - id: 433-internal
    operator: std
    type: accuracy_fail
    severity: major
    hardware: BI-V150
    test_cmd: "pytest -m 'std' tests/ --ref cpu -vs"
    benchmark_cmd: "pytest -m 'std' benchmark/ --level core --record log"

  - id: 432-internal
    operator: any_dim
    type: accuracy_fail
    severity: major
    hardware: BI-V150
    test_cmd: "pytest -m 'any_dim' tests/ --ref cpu -vs"
    benchmark_cmd: "pytest -m 'any_dim' benchmark/ --level core --record log"

  - id: 430-internal
    operator: var
    type: accuracy_fail
    severity: major
    hardware: BI-V150
    test_cmd: "pytest -m 'var' tests/ --ref cpu -vs"
    benchmark_cmd: "pytest -m 'var' benchmark/ --level core --record log"
