name: Detect Experimental-Only Changes

on:
  workflow_call:
    outputs:
      run_ci:
        description: "True if PR only modifies experimental_ops"
        value: ${{ jobs.detect.outputs.run_ci }}

jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      run_ci: ${{ steps.filter.outputs.run_ci }}
    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            # skip_ci:
            #   - 'src/flag_gems/experimental_ops/**'
            run_ci:
              - '!src/flag_gems/experimental_ops/**'
