name: examples

on:
  workflow_call:
    inputs:
      pr_id:
        description: 'The PR ID for generating coverage data'
        type: string
        required: true

jobs:
  test:
    runs-on: jiuding
    steps:
      - uses: actions/checkout@v6
      - shell: bash
        run: tools/gpu_check.sh
      - shell: bash
        run: |
          bash tools/examples-test.sh ${{ inputs.pr_id }}
