---
name: unittest-metax

'on':
  push:
    branches: ["master"]
    paths:
      - 'src/flag_gems/runtime/backend/_metax/**'
      - '.github/workflows/gems-test-on-metax.yaml'

  pull_request:
    branches: ["master"]
    paths:
      - 'src/flag_gems/runtime/backend/_metax/**'
      - '.github/workflows/gems-test-on-metax.yaml'

jobs:
  test-on-metax:
    uses: ./.github/workflows/backend-test.yaml
    with:
      vendor: metax
      runner_label: metax
      test_script: tools/run_backend_tests_metax.sh
