name: unit-test-hopper

on:
  push:
    branches: [ "master" ]
    paths:
      - '**.py'
      - '**.cpp'
      - '**.cu'
      - '**.h'
      - '**.hpp'
      - '**.cc'
      - 'CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.mk'
      - 'Makefile'
      - '**.yaml'
      - '**.md'
      - '!src/flag_gems/experimental_ops/**'
      - '!experimental_tests/**'

  pull_request:
    branches: [ "master" ]
    paths:
      - '**.py'
      - '**.cpp'
      - '**.cu'
      - '**.h'
      - '**.hpp'
      - '**.cc'
      - 'CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.mk'
      - 'Makefile'
      - '**.yaml'
      - '**.md'
      - '!src/flag_gems/experimental_ops/**'
      - '!experimental_tests/**'

env:
  CUDA_VISIBLE_DEVICES: 6
  http_proxy: ${{ secrets.HTTP_PROXY }}
  https_proxy: ${{ secrets.HTTPS_PROXY }}

jobs:
  op-test-on-hopper:
    runs-on: hopper
    concurrency:
      group: op-test-on-hopper-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Testing
        run: |
          bash tools/run_backend_tests_nvidia.sh
