---
name: unittest-ascend

'on':
  push:
    branches: ["master"]
    paths:
      - 'src/flag_gems/runtime/backend/_ascend/**'
      - 'tools/gpu_check_ascend.sh'
      - '.github/workflows/gems-test-on-ascend.yaml'

  pull_request:
    branches: ["master"]
    paths:
      - 'src/flag_gems/runtime/backend/_ascend/**'
      - 'tools/gpu_check_ascend.sh'
      - '.github/workflows/gems-test-on-ascend.yaml'

jobs:
  test-on-ascend:
    uses: ./.github/workflows/backend-test.yaml
    with:
      vendor: ascend
      runner_label: ascend
      gpu_check_script: tools/gpu_check_ascend.sh
      test_script: tools/run_backend_tests.sh
