name: gems-experimental-test

on:
  push:
    branches: [ "master" ]
    paths:
      - 'src/flag_gems/experimental_ops/**'
      - 'experimental_tests/**'

  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/flag_gems/experimental_ops/**'
      - 'experimental_tests/**'
env:
  CUDA_VISIBLE_DEVICES: 7
  http_proxy: ${{ secrets.HTTP_PROXY }}
  https_proxy: ${{ secrets.HTTPS_PROXY }}

jobs:
  experimental-test-on-hopper:
    runs-on: hopper
    concurrency:
      group: experimental-test-on-hopper-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: FlagGems experimental tests on hopper
        shell: bash
        run: |
          source "/home/zhangzhihui/miniconda3/etc/profile.d/conda.sh"
          conda activate flag_gems
          source tools/run_command.sh
          HEAD_SHA=${{ github.sha }}
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            BASE_SHA=${{ github.event.pull_request.base.sha }}
          else
            BASE_SHA=${{ github.event.before }}
          fi
          echo "Diffing $BASE_SHA...$HEAD_SHA"

          changed_files=$(git diff --name-only --diff-filter=AM $BASE_SHA...$HEAD_SHA || true)
          if [[ -z "$changed_files" ]]; then
            echo "No changed files detected, skipping."
            exit 0
          fi

          functional_tests_to_run=""
          performance_tests_to_run=""
          functional_missing_tests=""
          performance_missing_tests=""

          for f in $changed_files; do
              if [[ $f == src/flag_gems/experimental_ops/*.py ]]; then
                  if [[ $(basename "$f") == __*__* ]]; then continue; fi

                  base=$(basename "$f" .py)
                  functional_test_file="experimental_tests/functional/${base}_test.py"
                  if [[ -f "$functional_test_file" ]]; then
                      functional_tests_to_run="$functional_tests_to_run $functional_test_file"
                  else
                      functional_missing_tests="$functional_missing_tests $functional_test_file"
                  fi

                  performance_test_file="experimental_tests/performance/${base}_test.py"
                  if [[ -f "$performance_test_file" ]]; then
                      performance_tests_to_run="$performance_tests_to_run $performance_test_file"
                  else
                      performance_missing_tests="$performance_missing_tests $performance_test_file"
                  fi

              elif [[ $f == experimental_tests/functional/*_test.py ]]; then
                  if [[ -f "$f" ]]; then
                      functional_tests_to_run="$functional_tests_to_run $f"
                  fi
              elif [[ $f == experimental_tests/performance/*_test.py ]]; then
                  if [[ -f "$f" ]]; then
                      performance_tests_to_run="$performance_tests_to_run $f"
                  fi
              fi

          done

          if [[ -n "$functional_missing_tests" ]]; then
              echo "::error:: The following operator files were modified, but their corresponding functional test files are missing:"
              for m in $functional_missing_tests; do
                  echo "  - Expected: $m"
              done
              exit 1
          fi

          if [[ -n "$performance_missing_tests" ]]; then
              echo "::error:: The following operator files were modified, but their corresponding performance test files are missing:"
              for m in $performance_missing_tests; do
                  echo "  - Expected: $m"
              done
              exit 1
          fi

          functional_unique_tests=$(echo "$functional_tests_to_run" | tr ' ' '\n' | sort -u | xargs)

          if [[ -n "$functional_unique_tests" ]]; then
              echo "Running tests: $functional_unique_tests"
              run_command pytest -s $functional_unique_tests
          else
              echo "No relevant changes in ops or tests, skipping."
          fi

          performance_unique_tests=$(echo "$performance_tests_to_run" | tr ' ' '\n' | sort -u | xargs)

          if [[ -n "$performance_unique_tests" ]]; then
              echo "Running tests: $performance_unique_tests"
              run_command pytest -s $performance_unique_tests
          else
              echo "No relevant changes in ops or tests, skipping."
          fi
