name: quick-cpu

on:
  workflow_call:
    inputs:
      pr_id:
        description: 'The PR ID for generating coverage data'
        type: string
        required: true

jobs:
  test:
    runs-on: jiuding
    # Temporary hack to skip this job for PRs from FODC contest.
    if: "! contains(github.event.pull_request.labels.*.name, 'competition')"
    steps:
      - uses: actions/checkout@v6
      - shell: bash
        run: tools/gpu_check.sh
      - shell: bash
        run: |
          bash tools/op-test-quick-cpu.sh ${{ inputs.pr_id }}
