name: utils

on:
  workflow_call:

jobs:
  test:
    runs-on: jiuding
    steps:
      - uses: actions/checkout@v6
      - shell: bash
        run: tools/gpu_check.sh
      - shell: bash
        run: |
          git config --global --add safe.directory ../FlagGems
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            PR_ID=${{ github.event.pull_request.number }}
          elif [ "${{ github.event_name }}" == "push" ]; then
            PR_NUMBER=$(git log -1 --pretty=format:'%s' | grep -oE '#[0-9]+' | grep -oE '[0-9]+')
            PR_ID=${PR_NUMBER}
          fi
          bash tools/op-utils-test.sh ${PR_ID}
